// global font .
$font-size: 16px;
$font-size-small: 14px;
$font-size-extra-small: 12px;

// font fams .
$ff-medium: 'Avenir', sans-serif;
$ff-book: 'Avenir', sans-serif;
$ff-bold: 'Avenir', sans-serif;

// font family .
$font-family: 'Avenir', sans-serif;
$font-color: #333;
$font-regular: 400;
$font-medium: 500;
$font-semi: 600;
$font-bold: 700;


// Media Queries .
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
$xxxl: 1600px;

// Brand color.
$white: #ffffff;
$green: #4BA21C;
$lightgrey: #F5F5F5;
$darkergrey: #5C5C5C;
$charcoal: #333333;
$black: #000000;
$light_black: #1D1D1D;
$black_disabled: #2E2445;
$imui-bg-dark: #474C55;


// form colors .
$form-placeholder: #4C4C4C;
$form-error-bg: #FFCFCF;
$form-error: #FF3939;
$form-success: #4BA21C;
$form-text: #4C4C4C;

$border: 1px solid #959595;
$shadow: #E9E9E9;
$boxshadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
